*{
padding: 0;
margin:0 ;
box-sizing: border-box;
}

nav{
position: sticky;
top: 0;
left: 0;
width: 100%;
height: 5rem;
padding: 1rem;
display: flex;
align-items: center;
justify-content: space-between;
backdrop-filter: blur(10px);
background-color: rgb(214, 214, 214);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
z-index: 2;
}
nav span{
display: flex;
align-items: center;
justify-content: space-between;
height: 100% ;
gap: 1rem;
border-radius: 10px;
padding: 0.5rem;
transition: all 0.3s ease-in-out;
}
nav span:hover{
background-color: rgb(0, 211, 0);
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);}


.sidebar{
position: fixed;
top: 0;
left: -100%;
width: 20rem;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
backdrop-filter: blur(10px);
padding: 2rem 1rem;
color: rgb(0, 0, 0);
z-index: 3;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
transition: all 0.5s ease-in-out;
}

.sidebar.open {
left: 0;
}

.sidebar div{
    padding: 1rem 2rem;
}

.sidebar span{
    border-radius: 10px;
}

.sidebar span ,div{
display: flex;
align-items: center;
padding: 1rem;
transition: all 0.3s ease-in-out;
gap:5px;
}

.sidebar span:hover{
background-color: rgb(0, 211, 0);
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
}

.sidebar-image{
width: 100px;
height: 100px;
object-fit: cover;
margin-bottom: 1rem;
}   



.hero-container{
position: relative;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
padding: 2rem;
gap: 2rem;

}
.hero-box{
width: 20rem;
height: 22rem;
padding: 1rem 2rem;
display: flex;
flex-direction: column;
justify-content: space-between;
/* flex: 0 0 calc(33.333%); */
border-radius: 10px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
transition: all 0.3s ease-in-out;
}

.hero-box:hover{
transform: scale(1.05);
}

.hero-box img{
width: 100%;
height: 75%;
border-radius: 50%;
object-fit: cover;
border-radius: 20px;
}


.hero-button{
width: 100%;
height: auto;
padding: 1rem;
font-size: 1.3rem;
font-weight: 600;
color: white;
border: none;
border-radius: 10px;
background-color: rgb(0, 174, 0);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
transition: all 0.3s ease-in-out;
}
.hero-button:hover{
background-color: rgb(0, 211, 0);
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
}